# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
entornoV/
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Configuraciones locales y secretos
.env
.env.*

# Archivos generados
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

# Archivos de desarrollo
.idea/
.vscode/
*.swp
*.swo
*~

# Sistemas operativos
.DS_Store
Thumbs.db

# Frontend
node_modules/
