<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Cambiada</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restricciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_password_complete.css' %}">
</head>
<body>
    <div class="notification-container">
        <div class="notification-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" 
                    d="M9 12l2 2 4-4M12 22a10 10 0 110-20 10 10 0 010 20z" />
            </svg>
        </div>
        <h2>¡Contraseña cambiada!</h2>
        <p>Tu contraseña ha sido cambiada con éxito. Ahora puedes iniciar sesión.</p>
        <a href="{% url 'accounts:login' %}">Volver al inicio de sesión</a>
    </div>
</body>
</html>
