<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Restablecer Contraseña</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="email">Correo electrónico:</label>
                <input type="email" name="email" required>
            </div>

            <button type="submit">Restablecer Contraseña</button>
        </form>

        <!-- Enlace para regresar al inicio -->
        <a href="/" class="button-link">Inicio</a>
    </div>
</body>
</html>
