<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en la validación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restricciones.css' %}">
</head>
<body>
    <h1>Error en la validación del QR</h1>
    <p>El código QR que intentaste escanear no es válido. Por favor, intenta nuevamente.</p>
    <a href="{% url 'accounts:control_porteria' %}">Volver</a>
</body>
</html>