<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Desactivado</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restricciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/qr_desactivado.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                <path fill="none" stroke="currentColor" stroke-width="2" 
                      stroke-linecap="round" stroke-linejoin="round"
                      d="M12 9v4m0 4h.01M12 2a10 10 0 110 20 10 10 0 010-20z" />
            </svg>
        </div>
        <h1>QR Desactivado</h1>
        <p>{{ mensaje }}</p>
        <a href="{% url 'control_porteria' %}" class="button">Volver al Inicio</a>
    </div>
</body>
</html>

