<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Validación QR</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restricciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/formenvioQR.css' %}">
</head>

<body>
    <div class="background-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="success-card">
        <div class="card-header">
            <h1>¡Éxito!<span class="user-name">{{ request.user.nombre }}</span></h1>
        </div>
        
        <div class="card-content">
            <div class="success-icon">
                <svg viewBox="0 0 24 24">
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                </svg>
            </div>
            
            <div class="message">
                <p>Su QR fue generado correctamente</p>
                <p>Se ha enviado al correo <strong>{{ email }}</strong></p>
                <p>¡No dude en generar otro si es necesario!</p>
            </div>
            
            <div class="qr-container">
                <img src="{% static 'images/QR.png' %}" alt="Código QR" />
            </div>
            
            <div class="buttons-container">
                <!-- Redirección según el tipo de usuario -->
                {% if request.user.user_type == 'administrador' %}
                    <a href="{% url 'accounts:visor_admin' %}" class="btn primary-btn">
                        Ir al Panel
                    </a>
                {% elif request.user.user_type == 'propietario' %}
                    <a href="{% url 'accounts:visor_propietario' %}" class="btn primary-btn">
                        Ir al Panel
                    </a>
                {% elif request.user.user_type == 'porteria' %}
                    <a href="{% url 'accounts:control_porteria' %}" class="btn primary-btn">
                        Ir al Panel
                    </a>
                {% else %}
                    <p>No tienes permisos para acceder a ningún panel.</p>
                {% endif %}
                
                <a href="{% url 'bienvenida' %}" class="btn secondary-btn">Generar otro QR</a>
            </div>
        </div>
    </div>
</body>

</html>