/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Canvas detrás */
}

.ticket {
    background: linear-gradient(135deg, #02102b, #2a5298);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Asegura que el ticket esté sobre el fondo */
    transform: perspective(1000px) rotateX(10deg);
    opacity: 0;
    animation: appear 0.5s forwards ease-in-out; /* Efecto de aparición */
}

/* Header del ticket */
.ticket-header {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

.success-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: pulse 1s infinite; /* Efecto de pulso */
}

h1 {
    color: #fff;
    margin: 10px 0;
    font-size: 1.8rem;
}

.ticket-info {
    position: relative;
    z-index: 1;
    color: #f0f0f0;
    margin: 10px 0;
}

.ticket-info p {
    margin: 10px 0; /* Espacio entre párrafos */
}

.info {
    font-size: 1.2rem; /* Tamaño de texto más grande para la información */
}

.success-message {
    color: #03d473;
    font-weight: bold;
    font-size: 2.5rem; /* Tamaño de texto más grande */
    margin: 15px 0;
    text-align: center;
    animation: fadeIn 1s; /* Efecto de entrada */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #00ff88;
    background: -webkit-linear-gradient(to right, #00ff88, #03d473);
    background: linear-gradient(to right, #18d37c, #00ff9d);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s, transform 0.3s;
    z-index: 1;
    margin: 20px auto; /* Centra el botón */
    display: block; /* Asegura que el botón sea un bloque */
    text-align: center; /* Asegura que el texto esté centrado */
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Animaciones */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.header-info {
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
    align-items: center; /* Centra verticalmente */
    position: absolute; /* Posición absoluta para ubicarlo */
    top: 10px; /* Espacio desde el borde superior */
    right: 20px; /* Espacio desde el borde derecho */
}

.user-count {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    color: white; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de la fuente */
}

.user-count i {
    margin-right: 5px; /* Espacio entre el icono y el número */
    font-size: 1.5rem; /* Tamaño del icono */
}